@inject IPaymentRepository db
@inject IEmployeeRepository dbE
@inject DialogService dialogService

<h3>Editar</h3>

<RadzenStack Gap="1rem" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;">
    <RadzenStack>
        <EditForm Model="paymentDetailToUpdate" method="post" OnValidSubmit="UpdatePaymentDetail">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <RadzenFieldset Text="Create Payment Detail">
                <RadzenStack>
                    <RadzenFormField Text="Employee" Variant="Variant.Outlined">
                        <InputSelect id="employeeId" @bind-Value="@paymentDetailToUpdate.EmployeeId" class="form-control">
                            @if (employees is not null)
                            {
                                @foreach (var e in employees)
                                {
                                    if (e?.Id == paymentDetailToUpdate.EmployeeId)
                                    {
                                        <option value="@e?.Id" selected>@e?.FullName</option>
                                    }else{
                                        <option value="@e?.Id">@e?.FullName</option>
                                    }
                                }
                            }
                        </InputSelect>
                    </RadzenFormField>
                    <RadzenFormField Text="Bank Name" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="@paymentDetailToUpdate.BankName" />
                    </RadzenFormField>
                    <RadzenFormField Text="Account Number" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="@paymentDetailToUpdate.AccountNumber" />
                    </RadzenFormField>
                    <RadzenFormField Text="Account Type" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="@paymentDetailToUpdate.AccountType" />
                    </RadzenFormField>
                    <RadzenFormField Text="Payment Method" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="@paymentDetailToUpdate.PaymentMethod" />
                    </RadzenFormField>
                </RadzenStack>
            </RadzenFieldset>
            <button type="submit" class="btn btn-primary">Editar</button>
        </EditForm>
    </RadzenStack>
</RadzenStack>




@code {
    private PaymentDetailModel paymentDetailToUpdate = new();
    int value = 1;
    IEnumerable<EmployeeViewModel?> employees;

    [Parameter] public int Id { get; set; }

    private async Task UpdatePaymentDetail()
    {
        await db.UpdatePaymentDetail(paymentDetailToUpdate);
        dialogService.Close(true);
    }

    private async Task RefreshData()
    {
        paymentDetailToUpdate = await db.GetPaymentDetailByID(Id);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        employees = await dbE.GetAllDetailViewEmployee();
        await RefreshData();
    }
}
