@inject IAgencyRepository db
@inject DialogService dialogService

<h3>Crear Extension</h3>

<RadzenStack Gap="1rem" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;">
    <RadzenStack>
        <EditForm Model="branch" method="post" OnValidSubmit="CreateBranch">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <RadzenFieldset Text="Crear Extension">
                <RadzenStack>
                    <RadzenFormField Text="Nombre" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="@branch.Name" />
                    </RadzenFormField>
                    <RadzenFormField Text="Descripción" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="@branch.Description" />
                    </RadzenFormField>
                    <RadzenFormField Text="Agencia" Variant="Variant.Outlined">
                        <InputSelect id="agencyId" @bind-Value="@branch.AgencyId" class="form-control">
                            @if (agencyNames is not null)
                            {
                                @foreach (var a in agencyNames)
                                {
                                    <option value="@a.Id">@a.Name</option>
                                }
                            }
                        </InputSelect>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenFieldset>
            <button type="submit" class="btn btn-primary">Crear</button>
        </EditForm>
    </RadzenStack>
</RadzenStack>

@code {
    private BranchModel branch = new();
    
    int value = 1;
    IEnumerable<AgencyModel?> agencyNames;

    private async Task CreateBranch()
    {
        await db.InsertBranch(branch);
        branch = new();
        dialogService.Close(true);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        agencyNames = await db.GetAllAgencies();
    }
}
