@inject IEmployeeRepository db
@inject IAgencyRepository dbA
@inject DialogService dialogService

<h3>Crear Extension</h3>

<RadzenStack Gap="1rem" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;">
    <RadzenStack>
        <EditForm Model="employee" method="post" OnValidSubmit="CreateEmployee">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <RadzenFieldset Text="Crear Empleado">
                <RadzenStack>
                    <RadzenFormField Text="Tipo de Documento" Variant="Variant.Outlined">
                        <InputSelect id="documentId" @bind-Value="@employee.DocumentTypeId" class="form-control">
                            @if (documentNames is not null)
                            {
                                @foreach (var a in documentNames)
                                {
                                    <option value="@a?.Id">@a?.Name</option>
                                }
                            }
                        </InputSelect>
                    </RadzenFormField>
                    <RadzenFormField Text="Cedula" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="@employee.Document" />
                    </RadzenFormField>

                    <RadzenFormField Text="Primer Apellido" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="@employee.LastName" />
                    </RadzenFormField>
                    <RadzenFormField Text="Segundo Apellido" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="@employee.SecondSurname" />
                    </RadzenFormField>

                    <RadzenFormField Text="Primer Nombre" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="@employee.FirstName" />
                    </RadzenFormField>
                    <RadzenFormField Text="Segundo Nombre" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="@employee.MiddleName" />
                    </RadzenFormField>

                    <RadzenFormField Text="Tipo de Contrato" Variant="Variant.Outlined">
                        <InputSelect id="documentId" @bind-Value="@employee.ContractTypeId" class="form-control">
                            @if (contractNames is not null)
                            {
                                @foreach (var a in contractNames)
                                {
                                    <option value="@a?.Id">@a?.Name</option>
                                }
                            }
                        </InputSelect>
                    </RadzenFormField>
                    <RadzenFormField Text="Agencia" Variant="Variant.Outlined">
                        <InputSelect id="documentId" @bind-Value="@employee.BranchId" class="form-control">
                            @if (branchNames is not null)
                            {
                                @foreach (var a in branchNames)
                                {
                                    <option value="@a?.Id">@a?.Name</option>
                                }
                            }
                        </InputSelect>
                    </RadzenFormField>
                    <RadzenFormField Text="Tipo de Cargo" Variant="Variant.Outlined">
                        <InputSelect id="documentId" @bind-Value="@employee.PositionId" class="form-control">
                            @if (postionNames is not null)
                            {
                                @foreach (var a in postionNames)
                                {
                                    <option value="@a?.Id">@a?.Name</option>
                                }
                            }
                        </InputSelect>
                    </RadzenFormField>

                </RadzenStack>
            </RadzenFieldset>
            <button type="submit" class="btn btn-primary">Crear</button>
        </EditForm>
    </RadzenStack>
</RadzenStack>

@code {
    private EmployeeModel employee = new();
    
    int value = 1;
    IEnumerable<DocumentTypesModel?> documentNames;
    IEnumerable<ContractTypesModel?> contractNames;
    IEnumerable<BranchModel?> branchNames;
    IEnumerable<PositionModel?> postionNames;

    private async Task CreateEmployee()
    {
        await db.InsertEmployee(employee);
        employee = new();
        dialogService.Close(true);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        documentNames = await db.GetAllDocument();
        contractNames = await db.GetAllContract();
        postionNames = await db.GetAllPosition();
        branchNames = await dbA.GetAllBranches();
    }
}
